<html>
    <body>
        <h1>Cadasatrar Produto</h1>
        <form action="/cadastro" method="POST">
            <p>
                Nome: <input type="text" name="nome" value="">
            </p>
            <p>
                Quantidade: <input type="number" name="quantidade" value="">
            </p>
            <p>
                Valor: <input type="number" name="valor" value="">
            </p>
            <p>
                <input type="submit" value="Salvar">
            </p>
        </form>
    </body>
</html>